html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  text-align: left;
}

p {
  color: #5e5e61;
  line-height: 2;
}

a,
* a {
  text-decoration: none;
  color: #18181d;
}

button {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  cursor: pointer;
}

/* BUTTONS */

.sub-header-button {
  display: inline-flex;
  justify-content: space-between;
  background-color: #344e41;
  padding: 36px;
  flex: 1 0 100%;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: none;
}

/* NAVBAR */

#navbar {
  border-bottom: 1px solid #ebedee;
  padding: 1.5% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: #fff;
  width: 100%;
}

/* NAV LINKS */

.nav-link {
  font-weight: 600;
  margin: 0 10px;
  list-style-type: none;
  display: inline;
  font-size: 0.8rem;
}

.nav-link a {
  color: #222222;
}

.nav-link-current {
  color: #686870;
}

.nav-link-icon {
  font-size: 1rem;
}

/* HEADER */

.container-header {
  display: flex;
  flex-wrap: wrap;
  height: 900px;
  border-bottom: 1px solid #ebedee;
}

.left-header {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  flex: 0 0 50%;
  background-color: white;
}

.header-right {
  display: flex;
  flex: 0 0 50%;
  background-image: url(../images/banner.jpg);
  background-position: center;
  background-size: cover;
  align-content: flex-end;
}

.header-text {
  width: 52%;
  margin-block-start: auto;
  margin-inline-end: 15%;
}

.header-image-description {
  display: inline-flex;
  align-self: flex-end;
  flex-wrap: wrap;
  width: 65%;
  justify-content: space-between;
  font-weight: 500;
  background-color: white;
  padding: 29.5px;
  white-space: nowrap;
}

.header-title {
  margin-block-end: 20px;
  font-size: 3rem;
  font-weight: 500;
}

.header-paragraph {
  font-size: 1.25rem;
}

/* SUB HEADER  */

.sub-header {
  margin-top: auto;
  max-width: 670px;
  padding-block-start: 5%;
}

.sub-header-product {
  display: inline-flex;
  flex-wrap: wrap;
  background-color: #18181d;
}

.sub-header-image {
  width: 25%;
  flex: 1 0 30%;
  padding: 5% 0 5% 5%;
  object-fit: cover;
}

.sub-header-title {
  color: white;
  font-weight: 400;
  font-size: 1.125rem;
  margin-block-end: 15px;
}

.sub-header-paragraph {
  color: #ebedee;
}

.sub-header-text {
  flex: 1 0 70%;
  padding: 10%;
}

/* CATEGORY SECTION */

.product-category {
  display: flex;
  max-width: 70%;
  flex-wrap: wrap;
  margin: 35px auto;
  justify-content: center;
}

.category-card {
  text-align: center;
  padding: 25px;
  flex: 0 0 45%;
  position: relative;
}

.category-image {
  width: 600px;
  height: 600px;
  object-fit: cover;
}

.category-description {
  height: 120px;
  width: 80%;
  background-color: #ffffff;
  position: absolute;
  text-decoration: none;
  bottom: 10%;
  left: 10%;
  padding: 3%;
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
}

.category-description a {
  color: #18181d;
}

.category-button {
  background-color: #ffffff;
  border: none;
  text-align: left;
  font-size: 0.85rem;
  font-weight: 500;
}

/* PRODUCT SECTION */

.product-section {
  margin: auto;
  text-align: center;
}

.product-heading {
  margin: 50px auto;
}

.product-heading > h4 {
  margin-bottom: 30px;
  font-weight: 700;
}

.product-heading > h1 {
  font-weight: 500;
}

.product-display {
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  justify-content: center;
  margin: auto;
}

.product-card {
  flex: 0 0 20%;
  margin: 25px 25px 0;
  text-align: left;
}

.product-image {
  width: 100%;
  height: 70%;
  object-fit: cover;
  margin-bottom: 15px;
}

.product-description {
  font-size: 1rem;
  font-weight: 500;
}

.product-price {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
}

.product-button {
  height: 60px;
  width: 300px;
  background-color: #18181d;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto 15px;
  border-radius: 9px;
}

.decoration {
  margin: 100px 0;
  height: 300px;
  background-image: url(../images/product-1.jpg);
  background-size: fix;
  background-attachment: fixed;
}

.blog {
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  max-width: 70%;
}

.blog-content {
  display: flex;
  align-items: center;
  margin: 100px auto 200px;
}

.blog-image {
  flex: 0 0 60%;
  height: 500px;
  width: 900px;
  object-fit: cover;
}

.blog-text {
  background-color: white;
  padding: 40px;
  flex: 0 0 50%;
  position: relative;
  right: 190px;
  top: 95px;
}

.articles {
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto 100px;
  max-width: 1300px;
}

.article-header {
  margin: 50px 0;
}

.our-articles {
  margin-block-end: 20px;
}

.article-tiles {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  justify-content: space-around;
}

.article-card-small {
  height: 500px;
  width: 300px;
  margin: 25px 15px;
  position: relative;
}

.article-image-small {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.article-card-large {
  height: 500px;
  width: 600px;
  margin: 25px 15px;
  position: relative;
}

.article-image-large {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.article-description {
  height: 100%;
  font-size: 2rem;
  background-color: rgba(24, 24, 29, 0.5);
  position: absolute;
  top: 0;
  color: white;
  padding: 40px;
}

.article-description > a {
  color: white;
  font-weight: 300;
}

.article-description > a:hover {
  color: #ebedee;
}

.article-label {
  font-size: 0.75rem;
  display: inline-block;
  margin: 30px 0 20px;
  padding: 15px 25px;
  border: 1px solid white;
  background-color: hsla(0, 0%, 100%, 0.1);
}

.button-article {
  position: absolute;
  bottom: 30px;
  left: 40px;
  padding: 25px 30px;
}

.footer-section {
  border-top: 1px solid #ebedee;
  border-bottom: 1px solid #ebedee;
  margin-bottom: 20px;
}

.footer-section > hr {
  max-width: 70%;
  margin: auto;
  border-color: #ebedee;
  height: 0;
  border-bottom: none;
}

.cta {
  display: flex;
  flex-wrap: nowrap;
  max-width: 70%;
  margin: 75px auto;
  align-items: center;
  text-align: center;
}

.cta-text {
  flex: 0 0 55%;
  padding: 25px;
  text-align: left;
  font-weight: 400;
}

.cta-form {
  flex: 1 0 40%;
}

.cta-form > * {
  height: 50px;
}

.cta-form >input[type=email]
{
  width: 400px;
  padding: 25px;
  background-color: #ebedee;
  border: none;
}

.cta-form >input[type=email]:focus {
  outline: none;
}

.cta-form > input[type="button"] {
  width: 151px;
  margin-left: 10px;
  background-color: #000000;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.footer {
  display: flex;
  text-align: center;
  padding: 50px;
}

.footer-logo {
  flex: 0 0 50%;
}

.footer-logo > img {
  width: 15%;
  height: auto;
}

.footer-links {
  flex: 0 0 50%;
}

.footer-links > ul{
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
}

.footer-links > ul > li { 
  margin: 10px;
}

@media (max-width: 1350px) {
  .header-image-description {
    width: 100%;
  }
}
